body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.footer-nombres {
  text-align: center;
}

.font-family {
  font-family: 'New Tegomin', serif;
  text-align: center;
  color: white;

}

.logo {
  max-width: 100px;
  max-height: 100px;
}