<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head') %> 
<body id="fondo_blanco">
	<!-- Header -->
	<% if (locals.usuario && locals.usuario.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>
	<!-- /Header -->
	<!-- Novedades -->
	<div id="formularioTotal" class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title" id="titulo">AGREGAR PRODUCTOS</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form id="formulario_agregar" class= "formulario" action="/producto/agregar-producto" method="POST" enctype="multipart/form-data">
				<p>
					<label class="input_formulario" for="imagen" > Imágen: </label>
					<input class="cuadro_input" type="file" name="url_imagen" id="url_imagen"required>
				</p>
				<p>
					<label class="input_formulario" for="nombre"> Nombre cripto: </label>
					<input class="cuadro_input" type="text" name="nombre_producto" id="nombre_producto"required>
				</p>
				<p>
				<p>
					<label class="input_formulario" for="nombre"> Fecha de hoy: </label>
					<input class="cuadro_input" type="date" name="fecha_publicacion" id="fecha_publicacion"required>
				</p>
				<p>
					<label class="input_formulario" for="Descripcion"> Descripción larga: </label>
					<textarea class="cuadro_input" name="descripcion_larga" rows="5" cols="50" id="descripcion_larga"required></textarea>
				</p>
				<p>
					<label class="input_formulario" for="Descripcion"> Descripción corta*: </label>
					<textarea class="cuadro_input" name="descripcion_corta" rows="1" cols="50" id="descripcion_corta"required></textarea>
				</p>
				<p class="aclaracion">* Longitud máxima: una oración corta.</p>
				<p>
				<button id="boton_agregar" type="submit" value="enviar">Agregar criptomoneda</button>
				</p>
			</form>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>
</html>