<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partial/head') %> 
<body>
	<!-- Header -->
	<%- include('./partial/header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">INGRESAR</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form class= "formulario" method="POST">
				<br>
				<label for="email"> Email: </label>
				<input type="email" name="mail" id="mail">
				<br>
				<label for="contrasenia"> Contraseña: </label>
				<input type="password" name="contrasenia" id="contrasenia">
				<br>
				<input id="recordarme" type="checkbox">
				<label for="recordarme">Recordarme</label>
				<br>
				<input type="submit" value="Enviar">
			
			</form>
		</div>
    </div>
	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>

</html>