<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partial/head') %> 

<body>
	<!-- Header -->
	<%- include('./partial/headerLogueado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form class= "formulario" action="/views/product-add" method="POST">
				<p>
				<label for="nombre"> Nombre de la criptomoneda: </label>
				<input type="text" name="nombre" id="nombre">
				</p>

				<p>
				<label for="imagen"> Url de la imagen: </label>
				<input type="url" name="imagen" id="imagen">
				</p>
				<p>
					<label for="Descripcion"> Descripción de la criptomoneda: </label>
					<input type="text" name="Descripcion" id="Descripcion">
				</p>


				<p>
				<button type="submit" value="enviar">Agregar criptomoneda</button>
				</p>
			
			</form>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>

</html>