<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partial/head') %> 

<body>
	<!-- Header -->
	<% if (locals.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>

	<!-- Novedades -->
	<div id="formularioTotal" class="container products-wrapper">
				<h2 class="products-title">REGISTRATE</h2>
			<!-- Show the "ultimos" products -->

			<form class= "formulario" action="/seguridad/registrarse" method="POST" enctype="multipart/form-data">
				<p>
				<label for="Nombre"> Nombre: </label>
				<input type="text" name="nombre_usuario" id="nombre_usuario">
				</p>

				<p>
				<label for="Apellido"> Apellido: </label>
				<input type="text" name="apellido_usuario" id="apellido_usuario">
				</p>

				<p>
				<label for="Email"> Email: </label>
				<input type="email" name="mail" id="mail">
				</p>

				<p>
				<label for="contrasenia"> Contraseña: </label>
				<input type="password" name="contrasenia" id="contrasenia">
				</p>
	
				<p>
				<label for="Imagen"> URL de imagen: </label>
				<input type="file" name="url_imagen_usuario" id="url_imagen_usuario">
				</p>

				<p>
				<label for="descripcion"> Descripcion: </label>
				<input type="texto" name="texto_usuario" id="texto_usuario">
				</p>

				<p>
				<input type="submit" value="Enviar">
				</p>
				
			</form>

	</div>
	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>

</html>