<footer class="main-footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card" id="letra_negra"></i>
                    <h2 id="letra_negra">Nada de tarjetas</h2>
                    <p id="letra_negra">Al ser un catálogo de productos, no necesitás ingresar una tarjeta. ¡Acordate! Nunca te vamos a pedir los datos de tu tarjeta.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift" id="letra_negra"></i>
                    <h2 id="letra_negra">Canjes por lealtad</h2>
                    <p id="letra_negra">¡Sumá Cripto Puntos a través del programa de lealtad de la página! Disponible a partir de diciembre 2021.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield" id="letra_negra"></i>
                    <h2 id="letra_negra">Seguridad, de principio a fin</h2>
                    <p id="letra_negra">Tu privacidad es nuestra prioridad. En Cripto Mania, no hay nada que no puedas hacer, porque estás
                        siempre protegido.</p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2 id="letra_negra">Bautista Migliore</h2>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2 id="letra_negra">Catalina Rosella</h2>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2 id="letra_negra">Nicolás Cavalieri</h2>
                </article>
            </div>
        </div>
    </div>
</footer>