<header class="main-header encabezado">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-5 col-md-2">
				<a href="/" class="main-header_home-link">
					<img src="/images/ImagenCripto.png" class="logo_pagina">
				</a>
			</div>
	
			<div class="col-7 col-md-6" id="buscador">
				<form action="/search/resultados-busqueda" method="GET" class="search-form">
					<input type="text" name="search" placeholder="Buscar criptomonedas" class="search-form_input">
					<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
				</form>
			</div>
	
			<div class="col-12 col-md-4">
				<a class="main-header_credit-link">
					<i class="fab fa-bitcoin iconos"></i>
					Encontrá todas las criptomonedas.
				</a>
			</div>
		</div>
	
		<button class="btn-toggle-navbar">
			<i class="fas fa-bars"></i>
		</button>
	
		<nav class="main-navbar" id="barra_navegacion">
			<ul class="left-navbar" id="nav_izq">
				<li><a href="/producto/productosGenerales">Todas las criptomonedas</a></li>
				<li><a href="/producto/agregar-producto">Cargar productos</a></li>
			</ul>
	
			<ul class="right-navbar" id="nav_der">
				<li>Hola, <%= locals.usuario.nombre_usuario %>! </li>
				<li><a href="/usuario/perfil/<%= locals.usuario.id %> ">
					Mi perfil <i class="fas fa-user icono_nav"></i>
					</a>
				</li>
				<li>
					<form action="/" method="POST">
						<button class="logout" type="submit">
							<a href="/seguridad/logout">Cerrar sesión <i class="fas fa-sign-in-alt icono_nav"></i></a>
						</button>
					</form>
				</li>
			</ul>
		</nav>
	</div>
	<% for (const key in flash) { %>
		<% for (const msg of flash[key]) { %>
		  <div class="alert alert-<%= key %>" role="alert">
			<%= msg %>
		  </div>
		<% } %>
	  <% } %>
</header>